name: Build and Deploy

on:
  push:
    tags:
      - 'v*'  # Ejecutar el flujo de trabajo solo en los tags que empiezan con 'v'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set Version
      run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV

    - name: Display Version
      run: echo "Version is $VERSION"

    # Añade aquí tus pasos adicionales, por ejemplo, construir y desplegar tu aplicación
